/Authenticate-Util/target/
/IPGW-AA/target/
/Backend-Autenticator/target/
/Backend-Authenticator/target/
/Backend-Authenticate/target/
/microservice-security/target/
/Frontend-Authenticate/target/
/Backend-Microservice/target/
/Backend-Microservice-One/target/
/AuthoriseAuthenticateServer/target/
/Backend-Microservice-Two/target/
/app-authz-rest-springboot/target/
/locked-microservice-one/target/
/locked-microservice-two/target/
/Locked-Microservice-Two/target/
/ipgw-authentication-authorisation-server/target/
/keycloak-api-util/target/
/ipgw-authentication-authorisation-server/logs/
/ccpgw-authentication-authorisation-server/target/
