*.jar
*.log
*.tar.gz
*.tar

log/

ccpgw-transaction-manager-microservice/docker-image/ccpgw-transaction-manager-microserv/
ccpgw-transaction-manager-microservice/logs/
ccpgw-transaction-manager-microservice/target/
ccpgw-transaction-manager-microservice/certificates/
ccpgw-postilion-restful-microservice/docker-image/ccpgw-postilion-restful-microserv/
ccpgw-postilion-restful-microservice/logs/
ccpgw-postilion-restful-microservice/target/
ccpgw-postilion-model/target/
ccpgw-postilion-adapter/bin
ccpgw-postilion-adapter/logs/
ccpgw-postilion-adapter/target/

/ccpgw-comms-server/target
/ccpgw-communication-server/target/
/ccpgw-comms-server-ws/target/
/ccpgw-comms-server-ws-async/target/
/ccpgw-logging-wrapper/target/
/ccpgw-acs-servlet/target/
/ccpgw-database-transaction-manager-microservice/target/
/ccpgw-google-totp/target/
/ccpgw-comms-server1/target/
/ccpgw-transaction-notification-microservice/target/
